html, body {
    height: 100%;
}
body {
    background:  #64e8d9;
    font-size: 16px;
    font-family: sans-serif;
}
#banner-image {
    background-image: url("./../images/Linkedin.jpg");
    background-position: center;
    background-attachment:local;
    background-repeat: no-repeat;
    height: 166px;
    width: 96%;
    margin: -67px 0 0 0;
    

}

h1 {position: relative;}



header {
    height: 20%;
    margin: 2px 0 17px 0px;
}
.navbar ul {
    margin: -60px 0 0 0;
    display: flex;
    list-style: none;
    font-weight: bolder;
    text-decoration: #E75C00;
    float:right;
}

li a {
    padding: 0 14px 0 0;
}


.about {
    display: flex;
    position: absolute;
    margin: -35px 0 0px 91px

}

#paragraph-one {
    position: relative;
    margin: 30px 148px 0 0;
}
.aboutMe {
    border-right: solid;
    padding: 6 10px 0 0
}



.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 300px 0 186;
    margin: 60px 0 0 0; 
    
}
h2 {position: relative;
padding: 1px 10px 20px 0;

}
.job {position: absolute;
float: left;
float: bottom;
padding: 0 0 0 0}
.one {
    height: 300px;
    padding: 20px 300px 0 186px
}
h2, .projects{
    display: flex;
}

.two, .four {
    padding: 0 0 0 186px;
    margin: -50px 0 0 0
}
.three, .five {
    padding: 0 186px 0 0;
    margin: -50px 0 0 0;
}

#project-one {
    height: 250px ;
    width: 616px ;
}
#two, #three, #four, #five {
    height: 140px ;
    width: 308px;
}
.work{
    position: absolute;
    padding: 0 19px 440px 90px;
    border-right: solid;
 
}


.contact-list {
    list-style: none;
    padding: 42px 0px 0px 284px
}

.contactMe {
    position: relative;
    padding: 5px 3px 0 64px;
    border-right: solid;
}

.contact {display: flex;
}

@media screen and (max-width: 768px) {
    .navbar ul {
        display: flex;
        flex-direction: column;
        margin: -60px -250px 0 0 ;
    }
    #banner-image {
        background-image: url("./../images/Linkedin.jpg");
        background-position: center;
        background-attachment:local;
        background-repeat: no-repeat;
        height: 166px;
        width: 96%;
        margin: -67px 0 0 0;
    }
    /* .about {
        display: flex;
        position: absolute;
        margin: -35px 0 0px 91px
    
    } */
    .projects{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 129px 0 0 0; 
        
    }
    /* .job {position: absolute;
        float: left;
        float: bottom;
        padding: 0 0 0 0}
        .one {
            height: 300px;
            padding: 20px 300px 0 186px
        } */
        .one {
            height: 300px;
            padding: 20px 300px 0 186px
        }
        .two, .four {
            padding: 0 0 0 186px;
            margin: -50px 0 -47px 308px
        }
        .three, .five {
            padding: 0 186px 0 0;
            margin: -50px 0 0 185px;
        }
        #three {
            margin: 0 0 0 0;
        }

    

}
    

    
