/* Header stylings */
* {
    font-size: 23px;
    color: black;
}
  
.header {
    color: black;
       padding: 25px;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       background: rgb(2,0,36);
       background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,179,160,1) 31%, rgba(0,212,255,1) 100%);
       
   }
   #banner-image {
    background-image: url("./../images/Linkedin.jpg");
    background-position: center;
    background-attachment:local;
    background-repeat: no-repeat;
    height: 17rem;
   }
   /* Navbar stylings */
   .navbar {
       list-style: none;
       display: flex;
   }
   li {
       margin-right: 2em;
   }
/* Article stylings */
.profilePic {
    max-width: 50%;
    height: auto;
}
   .about {
       display: flex;
       margin-left: 10rem;
   }

   .aboutMe {
       display: flex;
       position: relative;
       align-items: center;
   }

   #paragraph-one {
       margin: 0 18rem 0 5rem;
       border-left: solid;
       padding-left: 1rem;
   }
/* Main stylings */
   .projects {
       display: flex;
       flex-wrap: wrap;
       margin-left: 10rem;
   }
  nav ul a {
      font-size: 2rem;
      color: #180606
  }

   .work {
       display: flex;
       position: relative;
       align-items: center;
    margin: 7rem -106px 0 0
   }
.border {
    border-left-style: solid;
}
   .job {
     
       
       height: auto;
       width: 100%;
        max-width: 320px;    
        max-height: 190.87px; 
        padding: 0px
   }

   .portfolio {
       padding: 0px
   }
  



        #project-one {
            height: auto;
            width: 100%;
            max-width: 1200px;
            max-height: 400px;
            order: 1;
            filter: grayscale(100%);
            -webkit-transition: all 1s ease;
            style;
        }
        #project-one:hover {
            filter: grayscale(0%);
            filter: gray;
            -webkit-filter: grayscale(0%);
            image-rendering:crisp-edges;
            image-orientation: from-image;
        }       
        .text-color{
            color: black;
            font-size: 17px;
        }
        .page-footer {
            background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,179,160,1) 31%, rgba(0,212,255,1) 100%);
  font-size: 23px;
        }
       .text-color {
           font-size: 23px;
           color: #000;
       } 
      
       /* .card.small .card-image+.card-content {
        background-color: rgba(0,212,255,1)
        
       }
       .card .card-action:last-child {
           background-color:  rgba(0,212,255,1);
       }
       .card.large 
       {background-color:  rgba(0,212,255,1)
       }; */
    
            /* Tablet */
 @media screen and (max-width: 768px) {
            /*Navbar tablet  */
    .navbar ul {
                display: flex;
                flex-direction: row;
            }
            /* Article tablet */
                .about {
                    display: flex;
                    margin: 0;
                }
             
                .aboutMe {
                    display: flex;
                    position: relative;
                    align-items: center;
                }
             
                #paragraph-one {
                    margin: 0 0rem 0 0rem;
                    border-left: solid;
                    padding-left: 1rem;
                }
                /* Main Tablet */
                .projects {
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: 0;
                }
             
                .work {
                    display: flex;
                    position: relative;
                    align-items: center;
                }
             
                .job {
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    padding: 0 0 0 0;
                    
                }
                          
             
             
                     #project-one {
                         height: auto;
                         width: auto;
                         max-width: 1000px;
                         max-height: 400px;
                         order: 1;
                         filter: grayscale(100%);
                         -webkit-transition: all 1s ease;
                         style
                     }
                     #project-one:hover  {
                         filter: grayscale(0%);
                         filter: gray;
                         -webkit-filter: grayscale(0%);
                         image-rendering:crisp-edges;
                         image-orientation: from-image;
                     }
                    
                  
                   

}
                /* Mobile */
            @media screen and (max-width: 320px) { 
                
               
                            }
                            /* Article mobile */
                                .about {
                                    display: flex;
                                    margin: 0;
                                }
                             
                                .aboutMe {
                                    display: flex;
                                    position: relative;
                                    align-items: center;
                                }
                             
                                #paragraph-one {
                                    margin: 0 0rem 0 0rem;
                                    border-left: solid;
                                    padding-left: 1rem;
                                    flex: 1;
                                    font-weight: bolder;
                                }
                                /* Main Mobile */
                                .projects {
                                    display: flex;
                                    flex-wrap: wrap;
                                    margin-left: 0;
                                    flex-direction: column;
                                    justify-content: center;
                                }                             
                                     .sample {
                                         margin: 1rem 0 0 0rem;
                                    border-left: solid;
                                    padding-left: 1rem;
                                     }
                                     /* Footer Mobile */
                                     .contact {
                                        display: flex;
                                        margin-left: 0
                                    }
                            
                                    .contact-list {
                                        list-style: none;
                                        display: flex;
                                        padding-left: 15rem;
                                        font-size: 20px;
                                        font-family: cursive;
                                    }
                

                }

        
                    

           
